/*	boilerplate.css
	CSS for the header and the footer
	*/

header {
	background-color: #6a7029;
	background-image: url(../img/headerbg.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-bottom: 10px;
	font-size: small;
}

header img {
	padding-right: 20px;
}

/* Begin menu styling */


header nav ul li:hover ul {
	display: block;
	width: 250px;
	z-index: 5000;
}

header nav ul {
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	/*width:100%;*/
	margin: 0 2em 0 6em;
	padding: 0 0 0 3em;
	list-style: none;
	position: relative;
	display: inline-table;
}

header nav ul ul {
	display: none;
	margin: 0;
}

header nav ul:after {
	content: "";
	clear: both;
	display: block;
}

header nav ul li { float: left; }

header nav ul li a {
	display: block;
	padding: 5px 50px 5px 5px;
	color: #fff;
	font-family: 'IM Fell Great Primer', serif;
	text-decoration: none;
}

header nav ul ul {
	border:none;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
}

header nav ul ul li {
	float: none;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

header nav ul ul li a {
	padding: 10px 40px;
	color: #fff;
}

header nav ul ul li a:hover { background: #4b545f; }

header nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
}

/* End menu styling */

header h1 {
	color:#fff;
	font-size:36px;
	font-family: 'IM Fell Great Primer', serif;
	text-align:center;
	padding:7px 0;
	text-shadow: 0 -1px 0 #6a7029;
}

header h2 {
	color: #fff;
	font-size: 28px;
	text-align: center;
	padding:7px 0;
	text-shadow: 0 -1px 0 #6a7029;
}

header nav {
	font-weight: bold;
	font-size: 1.2em;
}


footer {
	width: 100%;
	background-color: #6a7029;
	padding-top: 20px;
}

footer p {
	color: #fff;
	font-size: 1.2em;
	font-family: 'IM Fell Great Primer', serif;
}
