/*	overlay.css
	Contains the css for the overlays
	*/

.overlay {
	display:none;
	z-index:10000;
	background-color:#fff;
	width:80%;
	min-height:200px;
	border:1px solid #666;
	padding: 1em;
	-webkit-box-shadow: 0 0 90px #000;
	box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.overlay .close {
	background-image:url(../img/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.overlay img, .overlay div {
	float: right;
	font-family: serif;
	padding: 10px 10px 10px 20px;
}

.overlay h2 {
	font-size:1.8em;
}

.overlay p {
	font-size: 1.2em;
	text-align: left;
	padding: 0;
	margin: 0;
}
