html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

a:hover, a:active { outline:none; }

img {
	border:0;
	max-width:100%;
}

html {
	height:100%;
	background:#6a7029;
	max-width: 100%;
}

body {
	font-size: 14px;
	word-wrap: break-word;
	margin:0 auto;
	color:#3c3c3c;
	background:#fff;
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	}

body > div, nav div, footer div, header div, .swipe {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

a { color:#1191C3; }


h2 {
	font-family: 'IM Fell Great Primer', serif;
}

a {
	/* fix for links without href in body */
	cursor: hand;
	cursor: pointer;
}
